.circle {
    width: 1177px;
    height: 1177px;
    top: -645px;
    right: -120px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
}

.circle.circle_color_orange {
    background-color: rgba(232, 127, 30, 0.2);
}

.circle.circle_color_green {
    background-color: rgba(84, 191, 41, 0.2);
}

.circle__wheel {
    position: absolute;
    width: 650px;
    height: 650px;
    top: 850px;
    left: 263px;
    border: dashed 3px #FF922C;
    border-radius: 50%;
    transition: transform 0.4s ease-in-out;
}

.circle__images {
    position: relative;
    left: 275px;
    top: -50px;
}

.circle__product {
    width: 100px;
    height: 100px;
    position: absolute;
    transform-origin: 50px 375px;
}
