.circle {
    width: 1177px;
    height: 1177px;
    top: -645px;
    right: -120px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    overflow: hidden;
}

.circle_color_orange {
    background-color: rgba(232, 127, 30, 0.2);
}

.circle_color_green {
    background-color: rgba(84, 191, 41, 0.2);
}

.circle__wheel {
    position: absolute;
    width: 650px;
    height: 650px;
    top: 910px;
    left: 263px;
    border: dashed 3px #FF922C;
    border-radius: 50%;
}
