.main__info {
    max-width: 367px;
    margin: 212px 0 0;
}

.main__price {
    font-size: 44px;
    font-weight: 600;
    line-height: 66px;
    margin: 0;
}

.main__price.main__price_color_orange {
    color: #FF922C;
}

.main__price.main__price_color_green {
    color: #54BF29;
    margin: 0;
}

.main__title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
    transition: color 0.3s ease-in-out;
}

.main__text {
    margin: 12px 0 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    text-transform: capitalize;
}

.main__button {
    margin: 28px 0 0;
    width: 163px;
    height: 48px;
    border-radius: 69px;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.main__button:hover {
    transform: scale(1.1);
}

.main__button:active {
    transform: scale(1);
}

.main__button_color_orange {
    background-color: #FF922C;
    box-shadow: 0 20px 40px #F4E2D1;
}

.main__button_color_orange:hover {
    background-color: #ffa44f;    
}

.main__button_color_orange:active {
    background-color: #e07e21;    
}

.main__button_color_green {
    background-color: #54BF29;
    box-shadow: 0 20px 40px #DBF4D1;
}

.main__button_color_green:hover {
    background-color: #67c442;    
}

.main__button_color_green:active {
    background-color: #44a01f;    
}
